<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<!-- Properties파일에서 추출한 데이터를 변수로 사용할 수 있도록 설정 -->
	<properties resource="mybatis/db.properties" />

	<typeAliases> <!-- 순서 지켜서 작성해야함 -->

			<!-- 각각의 DTO에 Alias를 적용한다 -->
<!-- 		<typeAlias type="dto.Emp" alias="Emp" /> -->
<!-- 		<typeAlias type="dto.Dept" alias="Dept" /> -->
<!-- 		<typeAlias type="dto.Board" alias="Board" /> -->


		<!-- 패키지 안에 들어있는 모든 클래스에 별칭(Alias)을 적용한다 -->
		<!--  -> 기본 별칭을 클래스 이름으로 설정한다 -->
		<!--  -> 각 DTO클래스에 @Alias("") 를 이용하여 개별적인 별칭 적용 가능 -->
		<package name="dto" />
			
	</typeAliases>

	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${driver}"/>
				<property name="url" value="${url}"/>
				<property name="username" value="${username}"/>
				<property name="password" value="${password}"/>
			</dataSource>
		</environment>
	</environments>

	<mappers>
		<mapper resource="dao/mapper/EmpMapper.xml"/>
		<mapper resource="selectKey/dao/SelectKeyMapper.xml"/>
		<mapper resource="dynamic/dao/DynamicQueryMapper.xml"/>
	</mappers>

</configuration>
