<?xml version="1.0" encoding="UTF-8"?>

<!-- 마이바티스 3 Mapper DOCTYPE -->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="dao.face.EmpDao">

	<resultMap type="dto.Emp" id="Emp">
		
		<id column="empno" property="empno" /> <!-- pk지만 result로 적어도 상관 없음 -->
		
		<result column="ename" property="ename" />
		<result column="job" property="job" />
		<result column="mgr" property="mgr" />
		<result column="hiredate" property="hiredate" />
		<result column="sal" property="sal" />
		<result column="comm" property="comm" />
		<result column="deptno" property="deptno" />
		<!-- column은 table column, property는 dto member field -->
		
	</resultMap>
	
	<sql id="selectEmp">
		SELECT
			empno, ename, job, mgr
			, hiredate, sal, comm, deptno
		FROM emp
	</sql>

	<sql id="whereCond">
		WHERE search LIKE '%' || #{keyword } || '%'
	</sql>

	<select id="selectAll" resultMap="Emp">
		<include refid="selectEmp" />
		ORDER BY empno
	</select>

	<select id="selectByEmpno" parameterType="int" resultType="dto.Emp">
		<include refid="selectEmp" />
		WHERE empno = #{empno }	
	</select>
	
	<!-- sql태그 예시) -->

<!-- 	<sql id="searchCond">	 -->
<!-- 		WHERE title LIKE '%' || ${search } || '%' -->
<!-- 			OR content LIKE '%' || ${search } || '%' -->
<!-- 	</sql> -->

<!-- 	<sql id="selectBoard"> -->
<!-- 		SELECT * FROM board -->
<!-- 		<include refid="boardCond" /> -->
<!-- 	</sql> -->
	
<!-- 	<select id="selectTotCntBoardList"> -->
<!-- 		SELECT count(*) FROM ( -->
<!-- 			<include refid="selectBoard" /> -->
<!-- 		) CNT -->
<!-- 	</select> -->
	
<!-- 	<select id="selectBoardList"> -->
<!-- 		SELECT * FROM ( -->
<!-- 			SELECT rownum rnum, B.* FROM ( -->
<!-- 				<include refid="selectBoard" /> -->
<!-- 				ORDER BY boardno DESC -->
<!-- 			) B -->
<!-- 		) BOARD -->
<!-- 		WHERE rnum BETWEEN #{startNo } AND #{endNo } -->
<!-- 	</select> -->
	

</mapper>


