<?xml version="1.0" encoding="UTF-8"?>

<!-- 마이바티스 3 Mapper DOCTYPE -->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="dynamic.dao.DynamicQueryDao">
	
	<select id="select1" resultType="hashmap">
		SELECT * FROM emp
		
		<if test="true">
		WHERE deptno = 10
		</if>
		
		ORDER BY empno
	
	</select>
	
	<select id="select2" resultType="hashmap" parameterType="String">
		SELECT * FROM emp
		WHERE 1=1
		<if test='ename != null and !ename.equals("")'>
			AND ename LIKE '%' || #{ename } || '%'
		</if>
		ORDER BY empno		
	
	</select>
	
	<select id="select3" resultType="hashmap" parameterType="Emp">
		SELECT * FROM emp
		WHERE 1=0
		<if test="empno != null and empno !=0">
			OR empno = #{empno }
		</if>
		<if test='ename != null and !ename.equals("")'>
			OR ename LIKE '%'  || #{ename } || '%'
		</if>		
		ORDER BY empno
	
	</select>
	
	<select id="select4" resultType="hashmap" parameterType="hashmap" >
		SELECT * FROM emp
		WHERE 1=1
		<if test="category.equals('ename')">
			AND ename = #{keyword }
		</if>
		<if test="category.equals('job')">
			AND job = #{keyword }
		</if>
		ORDER BY empno
	</select>

</mapper>